.login-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.login-wrapper .login-content {
  position: absolute;
  top: 50%;
  right: 40px;
  box-sizing: border-box;
  width: 500px;
  height: 400px;
  padding: 20px;
  text-align: center;
  background-color: #fbfbfc;
  transform: translateY(-50%);
}
.login-wrapper .login-content .logo {
  display: block;
  margin: 10px auto;
}
.login-wrapper .login-content :global label {
  font-size: 14px;
}
.login-wrapper .login-content :global .ant-input-group-addon {
  padding: 0;
  border: none;
}
